:root {
	--icon-location-marker-2: '\e91f';
	--icon-global-wifi-red: '\e91c';
	--icon-home-wifi-red: '\e91d';
	--icon-cloud-upload-red: '\e91e';
	--icon-phone-outline: '\e943';
	--icon-stopwatch: '\e942';
	--icon-tv-circle: '\e941';
	--icon-wifi-circle: '\e93e';
	--icon-magnifying-glass: '\e935';
	--icon-shopping-cart: '\e936';
	--icon-location-marker: '\e934';
	--icon-heart: '\e933';
	--icon-play2: '\e932';
	--icon-star: '\e92a';
	--icon-wifi: '\e92b';
	--icon-close: '\e90d';
	--icon-minus: '\e902';
	--icon-plus: '\e90c';
	--icon-book: '\e900';
	--icon-cart: '\e901';
	--icon-exclamation: '\e903';
	--icon-facebook: '\e904';
	--icon-info: '\e905';
	--icon-linkedin: '\e906';
	--icon-phone: '\e907';
	--icon-search: '\e908';
	--icon-twitter: '\e909';
	--icon-user: '\e90a';
	--icon-youtube: '\e90b';
	--icon-ban: '\e90e';
	--icon-caution: '\e90f';
	--icon-game-controller: '\e910';
	--icon-gem: '\e911';
	--icon-home: '\e912';
	--icon-key: '\e913';
	--icon-laptop: '\e914';
	--icon-lock: '\e915';
	--icon-play1: '\e916';
	--icon-repeat: '\e917';
	--icon-shield: '\e918';
	--icon-thumbs-up: '\e919';
	--icon-tv: '\e91a';
	--icon-users: '\e91b';
	--icon-youtube1: '\e929';
	--icon-credit-card: '\e92c';
	--icon-life-ring: '\e92d';
	--icon-locked: '\e92e';
	--icon-money: '\e92f';
	--icon-up-trend: '\e930';
	--icon-checkmark-small: '\e931';
	--icon-chevron-right: '\eaeb';
	--icon-chevron-left: '\eaec';
	--icon-chevron-down: '\eaed';
	--icon-chevron-up: '\eaee';
	--icon-location-marker-alt: '\e937';
	--icon-person-circle: '\e939';
	--icon-padlock-circle: '\e938';
	--icon-play-circle: '\e93a';
	--icon-refresh-circle: '\e93b';
	--icon-star-circle: '\e93c';
	--icon-thumbs-up-circle: '\e93d';
	--icon-bolt-circle: '\e93f';
	--icon-check-short: '\e940';
	--icon-quotes-left: '\e977';
	--icon-quotes-right: '\e978';
	--icon-checkmark1: '\ea10';
	--icon-play: '\ea15';
	--icon-arrow-up2: '\ea3a';
	--icon-arrow-right2: '\ea3c';
	--icon-arrow-down2: '\ea3e';
	--icon-arrow-left2: '\ea40';
	--icon-minus2: '\ea0b';
	--icon-chevron-right1: '\eaef';
	--icon-chevron-left1: '\eaf0';
	--icon-chevron-down1: '\eaf1';
	--icon-chevron-up1: '\eaf2';
	--icon-caret-down: '\f0d7';
	--icon-caret-up: '\f0d8';
	--icon-caret-left: '\f0d9';
	--icon-caret-right: '\f0da';
}
