/* -----------------------------------------------------------------------------
 *
 * Atoms: Navigation
 *
 * ----------------------------------------------------------------------------- */

.navigation::after {
  content: '';
  display: table;
  clear: both;
}
