/* -----------------------------------------------------------------------------
 *
 * Structures: Rows
 *
 * ----------------------------------------------------------------------------- */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: var( --grid-gutter-half-negative );
  margin-left: var( --grid-gutter-half-negative );
}

/* -----------------------------------------------------------------------------
 * Modifier: No Gutters
 * ----------------------------------------------------------------------------- */

.noGutters {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* -----------------------------------------------------------------------------
 * Modifier: Flex Wrap
 * ----------------------------------------------------------------------------- */

.noWrap {
  flex-wrap: nowrap;
}

/* -----------------------------------------------------------------------------
 * Modifier: Force Vertical Center
 * ----------------------------------------------------------------------------- */

.verticalCenter {
  align-items: center;
  height: 100%;
}

/* -----------------------------------------------------------------------------
 * Modifier: Center
 * ----------------------------------------------------------------------------- */

.center {
  justify-content: center;
}

/* -----------------------------------------------------------------------------
 * Modifier: Pull Right
 * ----------------------------------------------------------------------------- */

.pullRight {
  justify-content: flex-end;
}

/* -----------------------------------------------------------------------------
 * Modifier: Space Between
 * ----------------------------------------------------------------------------- */

.spaceBetween {
  justify-content: space-between;
}

/* -----------------------------------------------------------------------------
 * Modifier: Space Around
 * ----------------------------------------------------------------------------- */

.spaceAround {
  justify-content: space-around;
}

/* -----------------------------------------------------------------------------
 * Modifier: Space Evenly
 * ----------------------------------------------------------------------------- */

.spaceEvenly {
  justify-content: space-evenly;
}

/* -----------------------------------------------------------------------------
 * Modifier: Pull Right
 * ----------------------------------------------------------------------------- */

.matchHeight {
  align-items: stretch;
}

/* -----------------------------------------------------------------------------
 * Modifier: Reorder 2 Columns
 * ----------------------------------------------------------------------------- */

.reorder2Col {

}

/* -----------------------------------------------------------------------------
 * Modifier: Fixed 2 Columns
 * ----------------------------------------------------------------------------- */

.fixedCol2 {

}

/* -----------------------------------------------------------------------------
 * Modifier: Fixed 3 Columns
 * ----------------------------------------------------------------------------- */

.fixedCol3 {

}

/* -----------------------------------------------------------------------------
 * Modifier: Fixed 4 Columns
 * ----------------------------------------------------------------------------- */

.fixedCol4 {

}

/* -----------------------------------------------------------------------------
 * Modifier: Fixed 5 Columns
 * ----------------------------------------------------------------------------- */

.fixedCol5 {

}
