/* -----------------------------------------------------------------------------
 *
 * Typography: Code
 *
 * ----------------------------------------------------------------------------- */

/* code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var( --color-neutral-light );
  color: var( --color-neutral-dark );
} */
