/* -----------------------------------------------------------------------------
 *
 * Typography: Dropcap
 *
 * ----------------------------------------------------------------------------- */

/* .dropcap {
  margin-right: 8px;
  float: left;
  color: var( --color-primary );
  font-size: rem( 48px );
  line-height: 1;
} */
